<div class="quiz_container">

	<div class="quiz_row">
		<h1>Quiz for <%= @quiz.label %> </h1>
	</div>

	<div class="quiz_row">

		<div class="questions">

			<%= form_tag(movies_show_path, method: "get") do %>

			<h3><%= @quiz.question_1 %></h3>

				<%= radio_button_tag(:value_1, "true") %>
				<%= label_tag(:value_1_true, "true") %>
				<%= radio_button_tag(:value_1, "false") %>
				<%= label_tag(:value_1_false, "false") %>

			<h3><%= @quiz.question_2 %></h3>

				<%= radio_button_tag(:value_2, "true") %>
				<%= label_tag(:value_2_true, "true") %>
				<%= radio_button_tag(:value_2, "false") %>
				<%= label_tag(:value_2_false, "false") %>

			<h3><%= @quiz.question_3 %></h3>

				<%= radio_button_tag(:value_3, "true") %>
				<%= label_tag(:value_3_true, "true") %>
				<%= radio_button_tag(:value_3, "false") %>
				<%= label_tag(:value_3_false, "false") %>

			<h3><%= @quiz.question_4 %></h3>

				<%= radio_button_tag(:value_4, "true") %>
				<%= label_tag(:value_4_true, "true") %>
				<%= radio_button_tag(:value_4, "false") %>
				<%= label_tag(:value_4_false, "false") %>

				<%= submit_tag("Search") %>

			<% end %>

		</div>

	</div>

</div>
