<div class="quiz_container">

	<div class="quiz_row">
		<h1>Quiz for <%= @quiz.label %> </h1>
	</div>

	<div class="quiz_row">

		<div class="questions">

			<%= form_tag(movies_show_path, method: "get") do %>

			<h3><%= @quiz.question_1 %></h3>

				<%= radio_button_tag(:value_1, "Y") %>
				<%= label_tag(:value_1_Y, "Y") %>
				<%= radio_button_tag(:value_1, "N") %>
				<%= label_tag(:value_1_N, "N") %>

			<h3><%= @quiz.question_2 %></h3>

				<%= radio_button_tag(:value_2, "Y") %>
				<%= label_tag(:value_2_Y, "Y") %>
				<%= radio_button_tag(:value_2, "N") %>
				<%= label_tag(:value_2_N, "N") %>

			<h3><%= @quiz.question_3 %></h3>

				<%= radio_button_tag(:value_3, "Y") %>
				<%= label_tag(:value_3_Y, "Y") %>
				<%= radio_button_tag(:value_3, "N") %>
				<%= label_tag(:value_3_N, "N") %>

			<h3><%= @quiz.question_4 %></h3>

				<%= radio_button_tag(:value_4, "Y") %>
				<%= label_tag(:value_4_Y, "Y") %>
				<%= radio_button_tag(:value_4, "N") %>
				<%= label_tag(:value_4_N, "N") %>

				<%= radio_button_tag(:quiz_id, @quiz.id, checked: true) %>


				<%= submit_tag("Search") %>

			<% end %>

		</div>

	</div>

</div>
